.sidebar
{
	background: url("../img/bg1.jpg") repeat-y;
	margin-bottom: -40%;
    padding-bottom: 40%;
    position: relative;
    box-shadow:0 2px 22px 0 rgba(0,0,1,.2);
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.50);
	}
.navshadow
{
	box-shadow:0 4px 22px 0 rgba(0,0,1,.2);
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.50);
}
.log
{
	width: 500px;
}
.logging
{
	background: url("../img/loginbg.jpg");
	 height: calc(100vh - 0px);
}
.homebtn
{
	border:2px solid white;
	color: white;
}
.regb
{
	background: url("../img/regbg.jpg")  no-repeat;
	/*background-size: cover;*/
	/*background-position: center;*/
}
.headrow
{
	padding-top: 250px;
}
.regbut
{
	background: #084675;
	color: white;
}
@media only screen and (min-width: 600px) {
    .regb{
        background:url("../img/regbg.jpg") no-repeat; 
	background-size: cover;
	background-position: center;
	
    }
}
.image
{
	min-height: 100vh;
}